{% set title 		= "Index" %}
{% set active_page 	= "index.html" %}


{% extends ('layouts/default.html') %}
{% block title %}{{ title }}{% endblock %}


{% block styles %}
<style type="text/css"></style>
{% endblock %}


{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Hello World!</h1>
	</div>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, libero ad. Vel maxime placeat ab eum sed doloremque obcaecati totam, laudantium ipsum sequi ad modi, praesentium! Cupiditate autem asperiores voluptates!</p>
</div>
{% endblock %}
 

{% block scripts %}
<script type="text/javascript"></script>
{% endblock %}